/* NavBar  */
.navbar-brand img {
  width: 160px;
}


nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none;
  z-index: 1;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 20px;
  color: #031c4e;
}

/* Hamburger */

.navbar-toggle {
  border: none;
  padding-top: 16px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #0063FF;
}

/* Spostamento liste */

ul.navbar-left{
  padding-left: 80px;
}

ul.navbar-left li a{
  padding-left: 5px;
}

#sign {
  border: 1px solid #006aff;
  color: #006aff;
  border-radius: 7px;
  padding: 8px 12px;
  margin-top: 12px;
}

/* Jumbotron */
.bg-header {
  margin-top: 70px;
  background-image: url("../img/bg-sea.svg");
  width: 100%;
  padding-bottom: 40px;
}

.title {
  margin-top: 40px;
}

.register {
  margin-top: 40px;
  background-color: #ffff;
  border-radius: 5px;
  font-weight: bold;
  padding-bottom: 20px;
}

.register h3 {
  padding-top: 20px;
  margin: 0;
}

a.blue {
  font-size: 20px;
}

form.signup button#google {
  position: relative;
  background-color: #ffff;
  color: #626262;
  box-shadow: 1px 1px 1px 1px #888888;
}

.signup input {
  width: 90%;
  padding: 5px 0;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  outline: none;
}

.signup button {
  color: #ffff;
  background-color: #579aff;
  border: none;
  border-radius: 5px;
  padding: 3px 0;
  margin-top: 7px;
  width: 90%;
  box-shadow: 1px 1px 1px 1px #888888;
}

.signup i {
  color: #579aff;
  position: absolute;
  top: 5px;
  left: 5px;
}

.register p {
  font-size: 12px;
  margin-top: 20px;
}
.register p a.blue{
  font-size: 12px;
  text-decoration: underline;
}


/* UTILIES */
.white {
  color: #ffff;
}

.grey {
  color: #bbcdff;
}

.blue {
  color: #006aff;
}

.darkblue {
  color: #031c4e;
}

.lightgrey {
  color: #5c6a88;
}

.mt-40 {
  margin-top: 40px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.medium {
  font-size: 20px;
}
.mt-50 {
  margin-top: 50px;
}
/* MAIN */

.bg-main {
  background-color: #f3f5f9;
  padding-bottom: 20px;
}
.main-title {
  margin-top: 40px;
  color: #6f7b97;
}

.logo-main img {
  width: 100%;
  height: 60px;
}
 #deploy-title {
   margin-top: 50px;
 }
/* LISTA */
ul.main-list {
  padding: 0;
  margin-bottom: 40px;
}

ul.main-list li{
  list-style: none;
  border-left: 1px solid #5c6a88;
  padding: 6px 5px;
}

ul.main-list li a {
  color: #5c6a88;
}

/* Sezione designed */

img#page {
  /* width: 150px; */
}

.card {

}

/* Media query */

/* Tablet */
@media all and (min-width:768px) and (max-width: 992px) {
  .navbar-left, .navbar-right {
    display: none;
  }

  .navbar-toggle {
    display: block;
    margin-right: 0;
  }

  .navbar-header {
    width: 100%;
  }

}

/* Smartphone */
@media (max-width: 768px) {
  h1 {
    font-size: 31px;
    font-weight: bold;
  }


  h2 {
    font-size: 25px;
  }

  a.customer {
    font-size: 12px;
  }
}
