/* NavBar  */
.navbar-brand img {
  width: 160px;
}


nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none;
  z-index: 1;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 20px;
  color: #031c4e;
}

/* Hamburger */

.navbar-toggle {
  border: none;
  padding-top: 16px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #0063FF;
}

/* Spostamento liste */

ul.navbar-left{
  padding-left: 80px;
}

ul.navbar-left li a{
  padding-left: 5px;
}

#sign {
  border: 1px solid #006aff;
  color: #006aff;
  border-radius: 7px;
  padding: 8px 12px;
  margin-top: 12px;
}

/* Jumbotron */
.bg-header {
  margin-top: 70px;
  background-image: url("../img/bg-sea.svg");
  width: 100%;
  padding-bottom: 40px;
}

.title {
  margin-top: 40px;
}

.register {
  margin-top: 40px;
  background-color: #ffff;
  border-radius: 5px;
  font-weight: bold;
  padding-bottom: 20px;
}

.register h3 {
  padding-top: 20px;
  margin: 0;
}

a.blue {
  font-size: 20px;
}

form.signup button#google {
  position: relative;
  background-color: #ffff;
  color: #626262;
  box-shadow: 1px 1px 1px 1px #888888;
}

.signup input {
  width: 90%;
  padding: 5px 0;
  margin-top: 10px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  outline: none;
}

.signup button {
  color: #ffff;
  background-color: #579aff;
  border: none;
  border-radius: 5px;
  padding: 3px 0;
  margin-top: 7px;
  width: 90%;
  box-shadow: 1px 1px 1px 1px #888888;
}

.signup i {
  color: #579aff;
  position: absolute;
  top: 5px;
  left: 5px;
}

.register p {
  font-size: 12px;
  margin-top: 20px;
}
.register p a.blue{
  font-size: 12px;
  text-decoration: underline;
}


/* UTILIES */
.white {
  color: #ffff;
}

.grey {
  color: #bbcdff;
}

.blue {
  color: #006aff;
}

.darkblue {
  color: #031c4e;
}

.lightgrey {
  color: #5c6a88;
}

.mt-40 {
  margin-top: 40px;
}

.mt-20 {
  margin-top: 20px;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.medium {
  font-size: 20px;
}
.mt-50 {
  margin-top: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

a.blue {
  font-size: 14px;
}
/* MAIN */

.bg-main {
  background-color: #f3f5f9;
  padding-bottom: 20px;
}
.main-title {
  margin-top: 40px;
  color: #6f7b97;
}

.logo-main img {
  width: 100%;
  height: 80px;
}
#deploy-title {
  margin-top: 50px;
}
/* LISTA */
ul.main-list {
  padding: 0;
  margin-bottom: 40px;
}

ul.main-list li{
  list-style: none;
  border-left: 3px solid #cccccc;
  padding: 6px 5px;
}

ul.main-list li a {
  color: #5c6a88;
}

/* Sezione designed */

img#page {
  width: 100%;
}

.card {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 300px;
  vertical-align: middle;
}

.fa-angle-right, .fa-angle-left {
  padding-top: 125px;
}


/* Lista circle */

ul.circle li {
  list-style: none;
  display: inline;
}

ul.circle {
  padding: 0;
}

.fa-circle {
  color: #006aff;
}

.my-circle {
  background-color: #006aff;
  border-radius: 100%;
}

img#angle{
  width: 50px;
}

.fa-angle-right, .fa-angle-left {
  font-size: 50px;
}

/* Sezione contry */

.bg-country {
  background-color: #0046c4;
  margin-top: 40px;
  padding-bottom: 80px;
}

a.country-color {
  color: #00cbcf;
}

.country-list {
  position: relative;
  border-bottom: 1px solid #fff;
  padding: 8px 0;
}


.country-list div.white {
  margin-left: 2%;
}

.country-list div.lightgrey {
  position: absolute;
  top: 8px;
  left: 20%;
}

.country-list div.testspeed {
  position: absolute;
  top: 8px;
  left: calc(100% - 90px);
}

.border {
  border-bottom: none;
}

/* Sezione rocker */

.rocker {
  background-color: #fff;
  margin-top: 60px;
  padding-bottom: 40px;
  border-radius: 5px;
}

/* Sezione account button */

.bg-blue {
  background-color: #002ea8;
  padding-bottom: 40px;
}

#btn-create {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #ffff;
  color: #006aff;
}

/* footer */

.bg-darkblue {
  background-color: #031c4e;
  padding-bottom: 20px;
}

.darkgrey {
  color: #8b94a9;
}

ul.social-list {
  padding: 0;
  margin: 0;
}

ul.social-list li {
  display: inline-block;
  padding-right: 10px;
}

ul.social-list li a i {
  font-size: 20px;
  color: #7a859d;
}

ul.footer {
  padding: 0;
  margin: 10px 0;
}

ul.footer li {
  list-style: none;
  padding: 3px 0;
}

ul.footer li a {
  color: #a6adbd;
}

.help {
  position: fixed;
  bottom: 5%;
  right: 0;
}

.help-button {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url("../img/shark.png");
  background-size: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.help-comment {
  display: inline-block;
  background-color: #ffff;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  vertical-align: middle;
}

.triangle {
  display: inline;
  font-size: 25px;
  color: #ffff;
  vertical-align: middle;
  margin-right: -4px;
}

.help-two {
  display: none;
}

/* Media query */
/* Smartphone */
@media (max-width: 768px) {
  h1 {
    font-size: 31px;
    font-weight: bold;
  }

  h2 {
    font-size: 25px;
  }

  a.customer {
    font-size: 12px;
  }

  .fa-angle-right, .fa-angle-left {
    visibility: hidden;
  }

  ul.circle {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .rocker img {
    width: 100%;
  }

  .help-two {
    display: block;
    position: fixed;
    bottom: 2%;
    left: 15%;
  }

  .help {
    display: none;
  }

  .help-comment {
    display: block;
    margin-top: 20px;
    background-color: #ffff;
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    vertical-align: middle;
  }

}

/* Tablet */
@media all and (min-width:768px) and (max-width: 992px) {
  .navbar-left, .navbar-right {
    display: none;
  }

  .navbar-toggle {
    display: block;
    margin-right: 0;
  }

  .navbar-header {
    width: 100%;
  }

  .card {
    max-width: 400px;
  }

  .fa-angle-right, .fa-angle-left {
    padding-top: 130px;
  }

  .fa-angle-right {
    margin-right: 100%;
  }

  .fa-angle-left {
    margin-left: 90%;
  }

  .help-two {
    display: block;
    position: fixed;
    bottom: 2%;
    left: 5%;
  }

  .help {
    display: none;
  }

  .help-comment {
    display: block;
    margin-top: 20px;
    background-color: #ffff;
    width: 85%;
    padding: 10px;
    border-radius: 5px;
    vertical-align: middle;
  }

}


/* Desktop */

@media all and (min-width: 992px) {
  .card {
    max-width: 550px;
  }

  .fa-angle-right, .fa-angle-left {
    padding-top: 200px;
  }

  .fa-angle-right {
    margin-right: 90%;
  }

  .fa-angle-left {
    margin-left: 90%;
  }

  ul.footer{
    margin-top: 50px;
  }
}
