/* NavBar  */

.navbar-brand img {
  width: 160px;
}

nav.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background: #fff;
  border: none;
  z-index: 1;
}

.navbar-default .navbar-nav > li > a {
  padding-top: 20px;
  color: #031c4e;
}

/* Spostamento liste */

ul.navbar-left{
  padding-left: 70px;
}

.navbar-right {
  overflow-x: hidden;
}
#sign {
  border: 1px solid #006aff;
  color: #006aff;
  border-radius: 7px;
  padding: 8px 12px;
  margin-top: 12px;
}

/* Jumbotron */
.bg-header {
  margin-top: 90px;
  background-image: url("../img/bg-blue.svg");
  width: 100%;
}

/* UTILIES */
.white {
  color: #ffff;
}
/* Media query */

@media all and (max-width: 992px) {
  .navbar-left, .navbar-right {
    display: none;
  }

  .navbar-toggle {
    display: block;
    margin-right: 0;
  }

  .navbar-header {
    width: 100%;
  }
}

@media all and (max-width: 768px) {
  /* TODO:  */
}
